.product-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-info h1 {
    color: #f60;
    font-size: 32px;
}

.product-info p {
    color: #999;
    line-height: 24px;
    font-size: 16px;
    margin-top: 5px;
}

.product-info a {
    color: #123abc;
}